NODE_ENV=development
WEB_PORT=3000
GATEWAY_PORT=4000
AUTH_SERVICE_PORT=8001
COMPANY_SERVICE_PORT=8002
CRM_SERVICE_PORT=8003
WORKFLOW_SERVICE_PORT=8004

AUTH_DB_NAME=auth_db
AUTH_DB_USER=relay
AUTH_DB_PASSWORD=relay
AUTH_DB_HOST=auth-db
AUTH_DB_PORT=5432

COMPANY_DB_NAME=company_db
COMPANY_DB_USER=relay
COMPANY_DB_PASSWORD=relay
COMPANY_DB_HOST=company-db
COMPANY_DB_PORT=5432

CRM_DB_NAME=crm_db
CRM_DB_USER=relay
CRM_DB_PASSWORD=relay
CRM_DB_HOST=crm-db
CRM_DB_PORT=5432

WORKFLOW_DB_NAME=workflow_db
WORKFLOW_DB_USER=relay
WORKFLOW_DB_PASSWORD=relay
WORKFLOW_DB_HOST=workflow-db
WORKFLOW_DB_PORT=5432

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC_LEAD_CREATED=crm.lead.created
KAFKA_TOPIC_LEAD_CREATED_DLQ=crm.lead.created.dlq
WORKFLOW_MAX_RETRIES=3
WORKFLOW_RETRY_BASE_DELAY_SECONDS=1

AUTH_SERVICE_URL=http://auth-service:8000/graphql/
COMPANY_SERVICE_URL=http://company-service:8000/graphql/
CRM_SERVICE_URL=http://crm-service:8000/graphql/
WORKFLOW_SERVICE_URL=http://workflow-service:8000/graphql/

GATEWAY_URL=http://gateway:4000/graphql
VITE_GRAPHQL_URL=http://localhost:4000/graphql
INTERNAL_SERVICE_TOKEN=relay-internal-token
